* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
  }
  img {
    max-width: 100%;
  }
  
  .row {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("https://wallpaperaccess.com/full/3726170.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
  }

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
  }
  
  .header__logo {
    font-size: 32px;
    text-decoration: none;
    color: white;
  }
  
  .header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  .card-body{
    background-color: white ;
    /* background-color: #000000; */
    /* opacity: 0.1; */
    position: absolute;
    top: 420px;
    left: 0px;
    right: 100px;
    border-radius: 5px;
    opacity: 0.8;
    /* max-width: 100%; */
    /* height: 100%; */
    /* z-index: 1;
     */
  }
  .card:hover{
        background-color: black;
        cursor: pointer; 
        opacity: 0.5;
  }
  
  .card{
    margin-bottom: 100px;
   
  }
  
 
  











