* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Roboto';
  src: url(./RobotoCondensed-Italic-VariableFont_wght.ttf);
}

img {
  max-width: 92%;
  filter: brightness(80%);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;

}
.img__logo{
  margin-top:40px ;
  margin-bottom: 30px;
  height: 100px;
  width: 300px;

}

.row {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("https://wallpaperaccess.com/full/3726170.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  font-family: Roboto;
  
  
}

#main__text {
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
  
}


.header__search {
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.card-body {
  background-color: white;
}

.card:hover {
  background-color: grey;
  cursor: pointer;
  filter: brightness(130%);
  /* opacity: 0.5; */
}
.card>a{
  display: block;
  text-decoration: none !important;
  color: #1a191f;
}
.card {
  margin-bottom: 100px;
  text-decoration: none;
  text-underline-offset: none;
  height: 400px;
}

#carouselExample {
  margin-left: 65px;
  margin-bottom: 30px;
}

.film__average {
  position: absolute;
  color: black;
  top: 20px;
  left: 216px;
  right: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid red;
}

.film__genres {
  color: cornflowerblue; 
}

.film__title {
  color: black;
  text-decoration: none;
  
}
.card__a{
  text-decoration: none;
}

footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
/* @font-face {
  font-family: customFonts; 
  src: url('assets/css/') format(ttf),     
   } */